@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: "Open Sans", sans-serif;
}

:root {
  --base-color: #CE917B;
}

.container {
  margin: auto;

}

.date {
  width: 70%;
  padding: 10px;
  margin-left: 40px;
}

.date h2 {
  margin: 0;
  padding: 0;
  color: gray;
  font-size: 0.8em;
}

.date h1 {
  font-size: 1.3em;
  margin: 5px auto;
}

.add-task {
  width: 30%;
  padding: 20px 5px;
}

.add-task-btn {
  padding: 10px 30px;
  background: #222;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 2px #ddd;
}

.add-task-btn:hover {
  cursor: pointer;
}

.calendar {
  margin: 5px 10px 10px;
  padding: 0px 10px;
}

.day {
  margin: 5px;
  padding: 8px;
  width: calc(100% / 7);
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.weekdays div {
  color: #555;
  font-weight: 400;
}

.next-month {
  color: #aaa;
  font-weight: 400;
}

.current {
  color: var(--base-color) !important;
}

.today {
  position: relative;
  color: var(--base-color);
}

.today:before {
  content: "";
  position: absolute;
  left: 48%;
  right: 48%;
  bottom: -0.1em;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background-color: var(--base-color);
}

.timeline {
  margin-top: 30px;
}

.task {
  list-style: none;
  position: relative;
  padding: 0px 15px 15px;
  border-left: 0.2em var(--base-color) solid;
  font-size: 14px;
}

.badge:before {
  content: "";
  position: absolute;
  height: 0.3em;
  width: 0.3em;
  top: 0em;
  left: -0.45em;
  outline: 0.2em solid #fff;
  border: 0.2em solid var(--base-color);
  border-radius: 50%;
  background-color: #fff;
}

.active > .badge:before {
  content: "";
  position: absolute;
  height: 0.8em;
  width: 0.8em;
  top: 0em;
  left: -0.7em;
  border: 0.2em solid var(--base-color);
  border-radius: 50%;
  background-color: #fff;
}

.active > .badge:after {
  content: "";
  position: absolute;
  height: 0.3em;
  width: 0.3em;
  top: 0.25em;
  left: -0.45em;
  border: 0.2em solid var(--base-color);
  border-radius: 50%;
  background-color: var(--base-color);
}

.timeline-body {
  padding: 5px 15px;
  max-width: 300px;
  margin: 0px 5px;
  border-radius: 10px;
}

.title {
  font-weight: bold;
}

.timeline-content {
  color: gray;
  width: 200px;
}

.active > .timeline-body {
  background: var(--base-color);
  box-shadow: 1px 1px 5px 2px #dedede;
}

.row {
  display: flex;
}

.col-left {
  width: 75%;
  padding: 0px 10px;
}

.col-right {
  width: 25%;
}
/*
.checkmark {
  background: #222;
  width: 40px;
  text-align: center;
  padding: 0px;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 25px;
}

.checkmark i {
  color: #fff;
  font-size: 28px;
}
*/