<h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"> Thread's Answers</h4>
<div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <thead>
                <tr
                    class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-4 py-3">Answer</th>
                    <th class="px-4 py-3">Owner</th>
                    <th class="px-4 py-3">Created At</th>
                    <th class="px-4 py-3">Votes</th>
                    <th class="px-4 py-3"># of comments </th>
                    <th class="px-4 py-3">Action</th>
                </tr>
            </thead>
            <ng-container *ngIf="answers.length > 0; else noAnswers">
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                <tr class="text-gray-700 dark:text-gray-400" *ngFor="let answer of answers | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                    <td class="px-4 py-3">       
                            {{answer.answer}}
                    </td>
                    <td class="px-4 py-3 text-sm">
                        I am the owner
                    </td>
                    <td class="px-4 py-3 text-sm">
                        6/10/2020
                    </td>
                    <td>
                        {{answer.votes}}
                    </td>
                    <td>
                        {{answer.comments.length}}
                    </td>
                    <td>
                        <div class="flex items-center space-x-4 text-sm">
                            <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" aria-label="Delete" (click)="deleteAnswer(answer.idAnswer)">
                              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                              </svg>
                            </button>
                            <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" aria-label="Comment" (click)="viewComments(answer.idAnswer)">
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M18.243 3.757A2 2 0 0016.828 3H3.172a2 2 0 00-1.415.586l-.586.586A2 2 0 001 6.172v7.656a2 2 0 00.586 1.414l.586.586a2 2 0 001.415.586h13.656a2 2 0 001.415-.586l.586-.586a2 2 0 00.586-1.414V6.172a2 2 0 00-.586-1.415l-.586-.586zM16 9H4V8h12v1zM4 11h8v-1H4v1zm0 2h8v-1H4v1zm0 2h6v-1H4v1z" clip-rule="evenodd"/>
                                </svg>
                            </button>
                            
                          </div>
                    </td>
                </tr>
            </tbody>
        </ng-container>
        <ng-template #noAnswers>
            <div class=" text-gray-700 dark:text-gray-400 text-center py-6">
              No answers yet on this thread!
            </div>
          </ng-template>
        </table>

    </div>

    <pagination-controls class="d-flex flex-row-reverse" [(ngModel)]="currentPage" (pageChange)="currentPage = $event"></pagination-controls>

</div>