

<div class="main-wrapper">



    <div class="page-wrapper">
    <div class="content container-fluid">
    <div class="page-header">
    <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
    <h5 class="text-uppercase mb-0 mt-0 page-title">Patient Details</h5>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
    <ul class="breadcrumb float-right p-0 mb-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)" ><i class="fas fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">Patient Details</a></li>
    <li class="breadcrumb-item"><span> Patient Details</span></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="content-page">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-left: 25%;">
    <div class="aboutprofile-sidebar">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
    <div class="aboutprofile">
    <div class="card">
    <div class="card-body">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="profile-img rounded-circle">
        <!-- <img src="assets/frontTemplate/img/comment1.jpg"> -->
        <a href="javascript:void()" class="avatar">{{patient.username.substr(0,1)}}</a>
        </div>
    <div class="aboutprofile-name">
    <h5 class="text-center mt-2">{{patient.username}}</h5>
    <p class="text-center">{{patient.email}}</p>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Username</b><a href="javascript:void(0)" class="float-right">{{patient.username}}</a></li>
    <li class="list-group-item"><b>Email</b><a href="javascript:void(0)" class="float-right">{{patient.email}}</a></li>
    <li class="list-group-item"><b>Phone number</b><a href="javascript:void(0)" class="float-right">{{patient.phone_number}}</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  
    </div>
    </div>
  